footer{
    
    background-color: #030303;
    background-image: radial-gradient(circle at 0 0, #225c 0, #0f0f2d80 15%, #0000 40%), radial-gradient(circle at 100% 100%, #55280acc 0, #2d120280 15%, #0000 40%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}